allow cameraserver vendor_file:file { execute getattr open read };

#============= cameraserver ==============
allow cameraserver persist_camera_prop:file read;
