allow misc_writer sysfs_dt_firmware_android:dir { search };

#============= misc_writer ==============
allow misc_writer sysfs_dt_firmware_android:file read;
allow misc_writer sysfs_dt_firmware_android:file open;
