#============= recovery ==============
allow recovery app_data_file:dir search;
allow recovery hwservice_contexts_file:file { getattr open read };
allow recovery init:dir search;
allow recovery init:file { getattr open read };
allow recovery init_exec:file getattr;
allow recovery kernel:file read;
allow recovery keystore_data_file:dir read;
allow recovery keystore_data_file:file getattr;
allow recovery media_rw_data_file:dir { add_name open read remove_name write };
allow recovery media_rw_data_file:file { create getattr relabelfrom setattr unlink write };
allow recovery mtp_device:chr_file ioctl;
allow recovery rootfs:file create;
allow recovery seapp_contexts_file:file getattr;
allow recovery self:key search;
allow recovery sepolicy_file:file getattr;
allow recovery service_contexts_file:file getattr;
allow recovery sysfs:file write;
allow recovery system_data_file:file { open read };
allow recovery system_radio_prop:property_service set;
allow recovery vndservice_contexts_file:file getattr;
